* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Montserrat, sans-serif;
  }

li {
  list-style: none;
}

a {
    text-decoration: none;
}

.clear {
  clear: left;
}

.container {
    width: 1170px;
	width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper {
    padding: 140px 0 100px 0;
    background-image: url('images/travel2.jpg');
    background-size: cover;
    color: black;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 35px;
	line-height:35px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-align: left;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
    text-align: left;
    font-size: 20px;
}

.btn-wrapper {
    margin: 40px 0;
    text-align: left;
}
  
.btn-wrapper p {
    margin: 10px 0;
}
  
.signup {
    background-color: #239b76;
}
  
.joinus {
    background-color: red;
    margin-right: 10px;
	animation-name: example;
	animation-duration: 4s ;
	animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}
  
.btn {
    padding: 12px 24px;
    color: black;
    display: inline-block;
    opacity: 1;
    border-radius: 4px;
}
  
.btn:hover {
    opacity: 0.8;
}
  
header {
	background-color: #3d3d3d;
	opacity:0.9;
	height: 65px;
	width: 100%;
	position :fixed;
	top: 0;
	z-index: 10;
}

.logo {
	width: 100px;
	padding: 5px ;
}

.header-left {
	float: left;
}

.header-left a{
	font-family:Courier;
	font-weight:bold;
	line-height: 65px;
	font-size:30px;
	padding: 0 5px;
	color: white;
	float: left;
	transition: all 0.5s;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.lesson-wrapper {  
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  margin-top: 30px;
  display: inline-block;
  top: 90px;
  width: 100%;
  color: rgb(14, 12, 12);
}

.lesson-icon img {
  border-radius: 20px;
  width: 18rem;
  height: 18rem;
  box-shadow: 7px 7px 10px;
  border: black;
  margin-top: 50px;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: black;
}
    

.contact-form {
  padding-top: 50px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

input, textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

.contact-submit{
  background-color:#dee7ec;
  color:#889eab;
 
}

footer {
  width: 100%;
  background-color: #3d3d3d;
  height: 105px;
}

.footer-logo h1{
  float: left;
  color: white;
  font-size: 24px;
  margin-left: 60px;
  letter-spacing:4px;
  padding:12px 14px;
}

.footer-right{
  float: right;
}

.footer-right a {
  line-height: 65px;
  padding: 0 25px;
  margin-top:20px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.footer-right img {
	width: 3rem;
	height: 3rem;
}
